body {
  background-color: white;
}

div.a {
  position: absolute;
  padding: 50px;
  width: 30%;
  height: 1350px;
  background: rgb(104, 126, 114);

 
} 

div.b {
  position: absolute;
  left: 380px;
  padding: 15px;
  width: 80%;
  height: 1450px;
  border: 3px solid white;
  background: white;
} 

div.ax{
  padding-bottom: 20px;
}

img.profile_picture{
	border-radius: 50%;
	position: sticky;
	width:230px;
  height:320px;
  padding: 20px;
}

h2{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 20px;

}


ul.info{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 16px;
  padding: 0px;
  padding-bottom: 20px;
  margin-left: 25px;

}

h1.name{
	color: rgb(104, 126, 114);
	font-size: 50px;
	text-align: left;
	
}

hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  width: 44%;
  margin-left: 0;
}

h2.job{
	color:rgba(104, 126, 114, 0.534);
	font-size: 40px;
	text-align: left;
}


p.left_div{
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

a{
  color: white;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

div.box{
background-color: white;
  width: 650px;
  border: 1px solid black;
  padding-left: 10px;
  padding-top: 1px;
  padding-right: 10px;
  box-shadow: 10px 7px rgba(104, 126, 114, 0.534);
  
}

img.icon{
  width: 30px;
  height: 30px;
}

h3.detail{
  color:rgba(104, 126, 114, 0.534) ;
  font-family: Verdana, sans-serif;
	font-size: 20px;
}

p.detail{
  font-family: Verdana, sans-serif;
	font-size: 15px;
}

strong{
  font-family: Verdana, sans-serif;
	font-size: 15px;
}

i{
  font-family: Verdana, sans-serif;
  font-size: 13px;
}

ul.detail{
  font-family: Verdana, sans-serif;
  font-size: 13px;
}

