body {
  background-color: white;
}

div.a {
  position: absolute;
  padding: 50px;
  width: 30%;
  height: 1350px;
  border: 3px #24478f;
  background: #24478f;
} 

div.b {
  position: absolute;
  left: 380px;
  padding: 15px;
  width: 80%;
  height: 1450px;
  border: 3px solid white;
  background: white;
} 

img{
	border-radius: 50%;
	position: sticky;
	width:230px;
  height:320px;
  
  padding: 20px;
}

h1.title{
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 20px;

}


ul.info{
	color: white;
	font-size: 20px;
	padding: 0px;
	margin-left: 25px;

}

h1.name{
	color: #24478f;
	font-size: 50px;
	text-align: left;
	
}

h2.job{
	color: #85a3e0;
	font-size: 40px;
	text-align: left;
}

h3.details{
	color: #85a3e0;
	margin-left: 10px;

}

p.bold {
  font-weight: bold;
}

div.box{
background-color: white;
  width: 650px;
  border: 1px solid black;
  padding: 10px;
 
}